    <!--kendo grid templates-->
<script type="text/x-kendo-template" id="periodtypesActionTemplate">
    <div class="text-left">
        <button class="btn btn-icon-small btn-dblclick" data-toggle="tooltip" title="Editar" data-placement="bottom"
                onclick="UX.Cotorra.PeriodTypes.UI.OpenSave(this);">
            <i class="fad fa-pencil"></i>
        </button>
        &nbsp;
        <!--<button class="btn btn-icon-small" data-toggle="tooltip" title="Eliminar" data-placement="bottom"
                onclick="UX.Cotorra.PeriodTypes.UI.Delete(this);">
            <i class="fad fa-trash-alt"></i>
        </button>-->
    </div>
</script>

<!--top actions-->
<div class="top-actions">
    
</div>

<!--main container-->
<div class="np-periodtypes-grid full-kendo-grid">
</div>